.title {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.6;

  &.title--one {
    font-size: 1.8rem;
    color: var(--color-grey-0);
  }
  &.title--two {
    font-size: 1.6rem;
    color: var(--color-grey-0);
    font-size: clamp(1.6rem, 2vw, 1.4rem);
  } 

  &.title--three {
    font-size: 1.4rem;
    color: var(--color-grey-0);
    font-size: clamp(1.4rem, 2vw, 1.2rem);
  }

}

.headline{
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;

  &.headline--bolt {
    font-weight: 700;
    
    &.error{
      color: var(--color-color-primary-50);


    }

  }
}


.paragraph {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  

  &.paragraph--color {
    color: var(--color-grey-1);
    font-size:clamp(1.2rem, 2vw, 1.4rem);
  }


}


